:root {
    --color: yellow;
    --fuente: Arial, Verdana;
    --fuente-size: 45px;
}

h1 {
    color: var(--color);
    font-family: var(--fuente);
    font-size: var(--fuente-size);
}

p {
    font-family: var(--fuente);
}

a {
    color: var(--color);
}